<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <!-- <div class="footer-newsletter">
    </div> -->

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <!-- <img src="/static/assets/img/fellow_logo_1.png" class="fellow-logo" alt="Fellowship Logo"> -->
            <span class="text-theme footer-header">{{ multilingual_content[language]['fellowship'] }}</span>
          </a>
          <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
              darta donna mare fermentum iaculis eu non diam phasellus.</p> -->
          <div class="social-links mt-5">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4 class="text-theme-sec footer-subtitle">{{ multilingual_content[language]['related_links'] }}</h4>
          <ul>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://www.india.gov.in/"  target="_blank">{{
                multilingual_content[language]['national_portal_of_india'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://tribal.maharashtra.gov.in/1001"  target="_blank">{{
                multilingual_content[language]['tribal_development_department'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://tribal.maharashtra.gov.in/1001"  target="_blank">{{
                multilingual_content[language]['tribal_commissionerate'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://aaplesarkar.maharashtra.gov.in/"  target="_blank">{{
                multilingual_content[language]['aaple_sarkar'] }}</a>
            </li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://tribal.nic.in/"  target="_blank">{{
                multilingual_content[language]['ministry_of_tribal_affairs'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="https://www.mygov.in/"  target="_blank">{{
                multilingual_content[language]['my_gov'] }}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4 class="text-theme-sec footer-subtitle">{{ multilingual_content[language]['security_brands'] }}</h4>
          <ul>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="/hyperlink_policy">{{
                multilingual_content[language]['hyperlink_policy'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="/t_and_c">{{
                multilingual_content[language]['terms_and_conditions'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="/privacy_policy">{{
                multilingual_content[language]['privacy_policy'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="/copyright_policy">{{
                multilingual_content[language]['copyright_policy'] }}</a></li>
            <li class="footer-link"><i class="bi bi-chevron-right"></i> <a href="/wmp_policy">{{
                multilingual_content[language]['website_monitoring_policy'] }}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4 class="text-theme-sec footer-subtitle">{{ multilingual_content[language]['contact_us'] }}</h4>
          <p class="text-theme-sec footer-link">
           <span class="fw-bold"> {{ multilingual_content[language]['address'] }} : </span>
            {{ multilingual_content[language]['address_text'] }}  <br><br>
            <strong>{{ multilingual_content[language]['phone'] }}:</strong> 020-2633 2380, 020-2636 0941<br>
            <strong>{{ multilingual_content[language]['email'] }}:</strong> trti.mah@nic.in<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright text-white copyrightlink">
      {{ multilingual_content[language]['footer_text'] }}
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Get the current page's
    var currentPageURL = window.location.href;
    var lastPathSegment = currentPageURL.substr(currentPageURL.lastIndexOf('/') + 1);
    // Loop through the menu items and compare their href attributes to the current URL
    $('#navbar li a').each(function () {
      var menuItemURL = $(this).attr('href');
      if (currentPageURL.includes(menuItemURL) && menuItemURL != '/') {
        // If the current URL includes the menu item's URL, add the 'active' class
        $(this).closest('li a').addClass('active');
      } else if (lastPathSegment == '') {
        $(this).closest('.home_active').addClass('active');
      }
    });
  });
</script>

    <!-- For Login Page -->
    <script>
        $(document).ready(function () {
            $('#year').on('change',function(){
                var year=$('#year').val()
                if (year === '2021' || year === '2022') {
                          Swal.fire({
                            icon: "info",
                            title: "IT SEEMS YOU ARE AN OLD USER....",
                            text: `LOGIN IS ALREADY CREATED FOR YOU. Please Login with the registered email ID and Password for your login will be Fellowship123.`,

                          });
                          $('#year').val('')
                }
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $('#signup_wrapper').hide()
            // Get the current page's URL
            var currentPageURL = window.location.href;

            // Loop through the menu items and compare their href attributes to the current URL
            $('#navbar li a').each(function () {
                var menuItemURL = $(this).attr('href');
                if (currentPageURL.includes(menuItemURL)) {
                    // If the current URL includes the menu item's URL, add the 'active' class
                    $(this).closest('li a').addClass('active');
                }
            });

            $('#year').on('change',function(){
                var year=$('#year').val()
                if (year === '2021' || year === '2022') {
                          Swal.fire({
                            icon: "info",
                            title: "IT SEEMS YOU ARE AN OLD USER....",
                            text: `LOGIN IS ALREADY CREATED FOR YOU. Please Login with the registered email ID and Password for your login will be Fellowship123.`,

                          });
                          $('#year').val('')
                }
            })

            $('#signup').on('click', function () {
                $('#login_wrapper').animate({
                    opacity: 0, // Target opacity value (0 to 1 for fading in)
                    top: '0', // Target left position (e.g., 100px from the left)
                    // width: '0px', // Target width (e.g., 200px)
                }, 1000, function () {
                    $('#login_wrapper').hide()
                    $('#signup_wrapper').show().animate({
                        opacity: 1, // Target opacity value (0 to 1 for fading in)
                        top: '0',
                        // width: '80%',
                    }, 1100);
                });
            })
            $('#login_switch').on('click', function () {
                $('#signup_wrapper').animate({
                    opacity: 0, // Target opacity value (0 to 1 for fading in)
                    // width: '0',
                }, 1500, function () {
                    $('#signup_wrapper').hide()
                    $('#login_wrapper').show().animate({
                        opacity: 1, // Target opacity value (0 to 1 for fading in)
                        bottom: '0',
                        // width: '80%',
                    }, 1000);
                });
            })

        });

    </script>
<script src="/static/admin_assets/js/jquery.jfontsize-1.0.js"></script>