{% extends 'AdminPages/layout/layout.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-eye-arrow-right-outline"></i>
      </span> View Application
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a href="/student_manage_dashbaord">
              <button class="btn btn-primary btn-fw">Back to Student Management Dashboard</button>
          </a>
        </li>
      </ul>
    </nav>
  </div>


      <div class="row">
        <div class="col-xl-4">
          {% for record in records %}
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img src="{{ record['applicant_photo'] }}" alt="Profile" >
            </div>

            <div class="card-body col-md-11">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Application ID : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span>{{ record['applicant_id'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Adhaar Card Number : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span> {{ record['adhaar_number'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Application Date : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span> {{ record['application_date'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Application Time : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span> {{ record['application_time'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h5 class="card-title ">Application Status : </h5>
                </div>
                <div class="col-md-12 text-start">
                  <div class="row">
                    <div class="col-md-7 label ">Pre Scrutiny Status:</div>
                    <div class="col-md-5">
                      {% if(record['status'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ record['status'] }}</span>
                      {% elif(record['status'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ record['status'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ record['status'] }}</span>
                      {% endif %}


                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-7 label ">Scrutiny Status:</div>
                    <div class="col-md-5">
                      {% if(record['scrutiny_status'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ record['scrutiny_status'] }}</span>
                      {% elif(record['scrutiny_status'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ record['scrutiny_status'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ record['scrutiny_status'] }}</span>
                      {% endif %}


                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-7 label ">Final Approval Status:</div>
                    <div class="col-md-5">
                      {% if(record['final_approval'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ record['final_approval'] }}</span>
                      {% elif(record['final_approval'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ record['final_approval'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ record['final_approval'] }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-qual">Qualification Details</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-phd">Ph.D Details</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Caste Details</button>
                </li>

                 <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#bank">Parents and Bank Details</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#profile-change-password">Attachment</button>
                </li>

              </ul>
              <div class="tab-content pt-2">
                {% for record in records %}
                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Personal Details / वैयक्तिक माहिती</h5>

                  <div class="row">
                    <div class="col-md-8 label ">First Name</div>
                    <div class="col-md-4">{{ record['first_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Second Name</div>
                    <div class="col-md-4">{{ record['middle_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Last Name</div>
                    <div class="col-md-4">{{ record['last_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Mobile Number</div>
                    <div class="col-md-4">{{ record['mobile_number'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Email</div>
                    <div class="col-md-4">{{ record['email'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Date of Birth</div>
                    <div class="col-md-4">{{ record['date_of_birth'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Gender</div>
                    <div class="col-md-4">{{ record['gender'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Age</div>
                    <div class="col-md-4">{{ record['age'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Category</div>
                    <div class="col-md-4">{{ record['caste'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Caste/Tribe</div>
                    <div class="col-md-4">{{ record['your_caste'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Sub Caste/Tribe</div>
                    <div class="col-md-4">{{ record['subcaste'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Marital Status</div>
                    <div class="col-md-4">{{ record['marital_status'] }}</div>
                  </div>

                  <h5 class="card-title">Personal Address Details / वैयक्तिक पत्त्याचे तपशील</h5>

                  <div class="row">
                    <div class="col-md-8 label ">Main Address</div>
                    <div class="col-md-4">{{ record['add_1'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Postal Address</div>
                    <div class="col-md-4"> {{ record['add_2'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Pincode</div>
                    <div class="col-md-4"> {{ record['pincode'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Village</div>
                    <div class="col-md-4"> {{ record['village'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Taluka</div>
                    <div class="col-md-4"> {{ record['taluka'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">District</div>
                    <div class="col-md-4"> {{ record['district'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">City</div>
                    <div class="col-md-4"> {{ record['city'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">State</div>
                    <div class="col-md-4"> {{ record['state'] }}</div>
                  </div>
                </div>

                <div class="tab-pane fade show active profile-overview" id="profile-qual">
                  <h5 class="card-title">Qualification Details / पात्रता तपशील</h5>

                  <p><strong>SSC Details</strong></p>
                  <div class="row">
                    <div class="col-md-8 label ">SSC Passing Year</div>
                    <div class="col-md-4"> {{ record['ssc_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">SSC Percentage</div>
                    <div class="col-md-4"> {{ record['ssc_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">SSC School Name</div>
                    <div class="col-md-4"> {{ record['ssc_school_name'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">SSC Stream</div>
                    <div class="col-md-4"> {{ record['ssc_stream'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">SSC Attempts</div>
                    <div class="col-md-4"> {{ record['ssc_attempts'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">SSC Total</div>
                    <div class="col-md-4"> {{ record['ssc_total'] }}</div>
                  </div>

                  <p><strong>HSC Details</strong></p>
                  <div class="row">
                    <div class="col-md-8 label ">HSC Passing Year</div>
                    <div class="col-md-4"> {{ record['hsc_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">HSC Percentage</div>
                    <div class="col-md-4"> {{ record['hsc_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">HSC School Name</div>
                    <div class="col-md-4"> {{ record['hsc_school_name'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">HSC Stream</div>
                    <div class="col-md-4"> {{ record['hsc_stream'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">HSC Attempts</div>
                    <div class="col-md-4"> {{ record['hsc_attempts'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">HSC Total</div>
                    <div class="col-md-4"> {{ record['hsc_total'] }}</div>
                  </div>

                  <p><strong>Graduation Details</strong></p>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation Passing Year</div>
                    <div class="col-md-4"> {{ record['graduation_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation Percentage</div>
                    <div class="col-md-4"> {{ record['graduation_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation College Name</div>
                    <div class="col-md-4"> {{ record['graduation_school_name'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation Stream</div>
                    <div class="col-md-4"> {{ record['grad_stream'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation Attempts</div>
                    <div class="col-md-4"> {{ record['grad_attempts'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Graduation Total</div>
                    <div class="col-md-4"> {{ record['grad_total'] }}</div>
                  </div>

                  <p><strong>Post Graduation Details</strong></p>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation Passing Year</div>
                    <div class="col-md-4"> {{ record['phd_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation Percentage</div>
                    <div class="col-md-4"> {{ record['phd_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation College Name</div>
                    <div class="col-md-4"> {{ record['phd_school_name'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation Stream</div>
                    <div class="col-md-4"> {{ record['pg_stream'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation Attempts</div>
                    <div class="col-md-4"> {{ record['pg_attempts'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Post Graduation Total</div>
                    <div class="col-md-4"> {{ record['pg_total'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 label ">Have you Qualified</div>
                    <div class="col-md-4"> {{ record['have_you_qualified'] }}</div>
                  </div>
                </div>

                <div class="tab-pane fade show active profile-overview" id="profile-phd">

                    <h5 class="card-title">Ph.D Details</h5>

                    <div class="row">
                      <div class="col-md-8 label ">Ph.D Registration Date</div>
                      <div class="col-md-4"> {{ record['phd_registration_date'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Ph.D Registration Year</div>
                      <div class="col-md-4">{{ record['phd_registration_year'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">University Name</div>
                      <div class="col-md-4">{{ record['concerned_university'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Name of College</div>
                      <div class="col-md-4">{{ record['name_of_college'] }}</div>
                    </div>

                  <div class="row">
                      <div class="col-md-8 label ">Department Name</div>
                      <div class="col-md-4">{{ record['department_name'] }}</div>
                    </div>

                  <div class="row">
                      <div class="col-md-8 label ">Topic of Ph.D</div>
                      <div class="col-md-4">{{ record['topic_of_phd'] }}</div>
                    </div>

                  <div class="row">
                      <div class="col-md-8 label ">Name of Guide</div>
                      <div class="col-md-4">{{ record['name_of_guide'] }}</div>
                    </div>

                  <div class="row">
                      <div class="col-md-8 label ">Faculty / Stream</div>
                      <div class="col-md-4">{{ record['faculty'] }}</div>
                    </div>

                    <h5 class="card-title">Income Details</h5>

                    <div class="row">
                      <div class="col-md-8 label ">Family Annual Income</div>
                      <div class="col-md-4"> {{ record['family_annual_income'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Income Certificate Number</div>
                      <div class="col-md-4">{{ record['income_certificate_number'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Income certificate Issuing Authority</div>
                      <div class="col-md-4">{{ record['issuing_authority'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Income certificate Issuing District</div>
                      <div class="col-md-4">{{ record['income_issuing_district'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Income certificate Issuing Taluka</div>
                      <div class="col-md-4">{{ record['income_issuing_taluka'] }}</div>
                    </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="profile-edit">

                  <!-- Family Overview -->
                  <h5 class="card-title">Domicile Details</h5>

                  <div class="row">
                    <div class="col-md-8 label ">Are you Domicile of Maharashtra</div>
                    <div class="col-md-4"> {{ record['domicile'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Domicile Certificate</div>
                    <div class="col-md-4">{{ record['domicile_certificate'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Domicile Certificate Number</div>
                    <div class="col-md-4">{{ record['domicile_number'] }}</div>
                  </div>

                  <h5 class="card-title">Caste Details</h5>

                  <div class="row">
                    <div class="col-md-8 label ">Do you have Caste/Tribe Certificate</div>
                    <div class="col-md-4"> {{ record['caste_certf'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Caste | Tribe</div>
                    <div class="col-md-4">{{ record['caste'] }} </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Sub Caste/Tribe</div>
                    <div class="col-md-4">{{ record['subcaste'] }} </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Caste Certificate Number</div>
                    <div class="col-md-4">{{ record['caste_certf_number'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Issuing District</div>
                    <div class="col-md-4">{{ record['issuing_district'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Caste Certificate Issuing Authority</div>
                    <div class="col-md-4">{{ record['caste_issuing_authority'] }}</div>
                  </div>

                  <h5 class="card-title">Validity Details</h5>

                  <div class="row">
                    <div class="col-md-8 label ">Validity Certificate</div>
                    <div class="col-md-4">{{ record['validity_certificate'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Validity Certificate Number</div>
                    <div class="col-md-4">{{ record['validity_cert_number'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Validity Certificate Issuing District</div>
                    <div class="col-md-4">{{ record['validity_issuing_district'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 label ">Validity Certificate Issuing Authority</div>
                    <div class="col-md-4">{{ record['validity_issuing_authority'] }}</div>
                  </div>

                  <h5 class="card-title">
                    Personal Eligibility Details
                  </h5>

                  <div class="row">
                    <div class="col-md-8 label ">Are you Salaried ?</div>
                    <div class="col-md-4">{{ record['salaried'] }}</div>
                  </div>


                  <div class="row">
                    <div class="col-md-8 label ">Any Disability</div>
                    <div class="col-md-4">{{ record['disability'] }}</div>
                  </div>

                   <div class="row">
                    <div class="col-md-8 label ">Type of Disability (If Any)</div>
                    <div class="col-md-4">{{ record['type_of_disability'] }}</div>
                  </div>

                </div>

                 <div class="tab-pane fade profile-overview pt-3" id="bank">

                    <h5 class="card-title">Parents Details</h5>

                    <div class="row">
                      <div class="col-md-8 label ">Father's Full Name</div>
                      <div class="col-md-4">{{ record['father_name'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Mother's Full Name</div>
                      <div class="col-md-4">{{ record['mother_name'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Government Employee</div>
                      <div class="col-md-4">{{ record['work_in_government'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Department in Government (If Any)</div>
                      <div class="col-md-4">{{ record['gov_department'] }}</div>
                    </div>

                   <div class="row">
                      <div class="col-md-8 label ">Post/Role in Government (If Any)</div>
                      <div class="col-md-4">{{ record['gov_position'] }}</div>
                    </div>

                    <h5 class="card-title">Bank Details</h5>

                    <div class="row">
                      <div class="col-md-8 label ">IFSC Code</div>
                      <div class="col-md-4">{{ record['ifsc_code'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Account Number</div>
                      <div class="col-md-4">{{ record['account_number'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Bank Name</div>
                      <div class="col-md-4">{{ record['bank_name'] }}</div>
                    </div>

                    <div class="row">
                      <div class="col-md-8 label ">Account Holder Name</div>
                      <div class="col-md-4">{{ record['account_holder_name'] }}</div>
                    </div>

                   <div class="row">
                      <div class="col-md-8 label ">MICR Code</div>
                      <div class="col-md-4">{{ record['micr'] }}</div>
                    </div>

                 </div>

                <div class="tab-pane fade profile-overview pt-3" id="profile-change-password">
                  <h5 class="card-title">Attached Documents</h5>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Adhaar Card / आधार कार्ड</div>
                    <div class="col-md-4">
                      {% if record['documentfile1'] %}
                        <a
                          href="{{ record['documentfile1'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Adhaar Card"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">PAN Card / पॅन कार्ड</div>
                    <div class="col-md-4">
                      {% if record['documentfile2'] %}
                        <a
                          href="{{ record['documentfile2'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View PAN Card"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Domicile Certificate / अधिवास प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile3'] %}
                        <a
                          href="{{ record['documentfile3'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Domicile Certificate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Caste Certificate | जातीचा दाखला</div>
                    <div class="col-md-4">
                      {% if record['documentfile4'] %}
                        <a
                          href="{{ record['documentfile4'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Caste Validity Certificate | जात वैधता प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile5'] %}
                        <a
                          href="{{ record['documentfile5'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Validity Certificate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Income Certificate | उत्पन्नाचा दाखला</div>
                    <div class="col-md-4">
                      {% if record['documentfile6'] %}
                        <a
                          href="{{ record['documentfile6'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Income Certificate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">10th Marksheet & Passing Certificate | 10वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile7'] %}
                        <a
                          href="{{ record['documentfile7'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View 10th Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                 <div class="row align-items-center">
                    <div class="col-md-8 label ">12th Marksheet & Passing Certificate | 12वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile8'] %}
                        <a
                          href="{{ record['documentfile8'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View 12th Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Diploma Marksheet & Passing Certificate | डिप्लोमा मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile9'] %}
                        <a
                          href="{{ record['documentfile9'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Diploma Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Graduation Marksheet & Passing Certificate | पदवी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile10'] %}
                        <a
                          href="{{ record['documentfile10'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Graduation Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Post-Graduation Marksheet & Passing Certificate | पदव्युत्तर मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile11'] %}
                        <a
                          href="{{ record['documentfile11'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Post Graduation Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span> No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">NET/SET/PET/M.Phil Marksheet & Passing Certificate | नेट/सेट/पीईटी/एम.फिल मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile12'] %}
                        <a
                          href="{{ record['documentfile12'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View NET/SET/PET/M.Phil Marksheet & Passing Certifcate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm " data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                   <div class="row align-items-center">
                    <div class="col-md-8 label ">Ph.D Admission Reciept | पीएच.डी प्रवेशाची पावती</div>
                    <div class="col-md-4">
                      {% if record['documentfile13'] %}
                        <a
                          href="{{ record['documentfile13'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Ph.D Admission Reciept"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm " data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Guide Allotment Letter | मार्गदर्शक वाटप पत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile14'] %}
                        <a
                          href="{{ record['documentfile14'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Guide Allotment Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Guide Acceptance Letter | मार्गदर्शक स्वीकृती पत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile15'] %}
                        <a
                          href="{{ record['documentfile15'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Guide Acceptance Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                   <div class="row align-items-center">
                    <div class="col-md-8 label ">Letter of Accpetance from RAC/RRC | RAC/RRC कडून मान्यतेचे पत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile16'] %}
                        <a
                          href="{{ record['documentfile16'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Letter of Acceptance from RAC/RRC"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Confirmation Letter | पुष्टीकरण पत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile17'] %}
                        <a
                          href="{{ record['documentfile17'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Confirmation Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Research Center Joining Report | संशोधन केंद्र जॉईनिंग रिपोर्ट</div>
                    <div class="col-md-4">
                      {% if record['documentfile18'] %}
                        <a
                          href="{{ record['documentfile18'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Confirmation Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Kendra Pramukh - Sanyukta Pramanpatra | केंद्रप्रमुख - संयुक्त प्रमानपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile19'] %}
                        <a
                          href="{{ record['documentfile19'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Kendra Pramukh"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class=" col-md-8 label ">If Disabled - Disability Certificate | अक्षम असल्यास - अपंगत्व प्रमाणपत्र</div>
                    <div class=" col-md-4">
                      {% if record['documentfile20'] %}
                        <a
                          href="{{ record['documentfile20'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Disability Certificate"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Change in Name - Gazzette | नावात बदल - राजपत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile21'] %}
                        <a
                          href="{{ record['documentfile21'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Confirmation Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Acknowledgement of not getting scholarship from anywhere | कुठूनही शिष्यवृत्ती न मिळाल्याची पावती</div>
                    <div class="col-md-4">
                      {% if record['documentfile22'] %}
                        <a
                          href="{{ record['documentfile22'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Acknowledgement of not getting scholarship from anywhere"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-md-8 label ">Research Synopsis/ Research Center Allotment letter | संशोधन सारांश/ संशोधन केंद्र वाटप पत्र</div>
                    <div class="col-md-4">
                      {% if record['documentfile23'] %}
                        <a
                          href="{{ record['documentfile23'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Confirmation Letter"><span><i class="ri-eye-fill"></i></span>
                        </a>
                      {% else %}
                        <a
                          class="btn btn-sm bordered" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="No Document uploaded"><span class="fw-bold text-danger">No Document Uplaoded</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>


                  </div>

              </div><!-- End Bordered Tabs -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>


</div>

{% endblock %}