{% extends "Homepage/layout/layout.html" %}

{% block content %}

 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li class="contact-home"><a href="index.html">{{multilingual_content[language]['home']}}</a></li>
          <li class="contact-home">{{multilingual_content[language]['contact_us']}}</li>
        </ol>
        <h2 class="contact-us">{{multilingual_content[language]['contact_us']}}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container-fluid">
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

          <div class="container" data-aos="fade-up">

            <div class="row gy-4">

              <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60516.711485827!2d73.79868089615275!3d18.560758460720454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0542a945bcf%3A0x75353ebf7194eb5b!2sDr%20Babasaheb%20Ambedkar%20Research%20and%20Training%20Institute!5e0!3m2!1sen!2sin!4v1736406966988!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>

              <div class="col-lg-6">
                <form action="/contact_submit" method="POST">
                  <div class="row gy-4">

                    <div class="col-md-6">
                      <input type="text" name="fullname" class="form-control" placeholder="{{ multilingual_content[language]['you_name'] }}" required>
                    </div>

                    <div class="col-md-6 ">
                      <input type="email" class="form-control" name="email" placeholder="{{ multilingual_content[language]['you_email'] }}" required>
                    </div>

                    <div class="col-md-12">
                      <input type="text" class="form-control" name="issue_subject" placeholder="{{ multilingual_content[language]['subject'] }}" required>
                    </div>

                    <div class="col-md-12">
                      <textarea class="form-control" name="description" rows="6" placeholder="{{ multilingual_content[language]['message'] }}" required></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                      <button type="submit">{{ multilingual_content[language]['send_message'] }}</button>
                    </div>

                  </div>
                </form>

              </div>

            </div>
            <div class="container mt-5 p-0">
              <div class="col-lg-12">

                <div class="row gy-4">
                  <div class="col-md-4 ">
                    <div class="info-box ">
                      <i class="bi bi-geo-alt"></i>
                      <h3 class="contact-page-info">{{ multilingual_content[language]['address'] }}</h3>
                      <p class="contact-page-info-content"><span class="fw-bold">{{ multilingual_content[language]['trti'] }}</span><br>{{ multilingual_content[language]['address_text']  }}</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="info-box ">
                      <i class="bi bi-telephone"></i>
                      <h3 class="contact-page-info">{{ multilingual_content[language]['call_us'] }}</h3>
                      <p class="contact-page-info-content">020-26333330<br> 020-26333339<br> 020-26343600</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="info-box ">
                      <i class="bi bi-envelope"></i>
                      <h3 class="contact-page-info">{{ multilingual_content[language]['email_us'] }}</h3>
                      <p class="contact-page-info-content">helpdesk@barti.in
                        </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="info-box ">
                      <i class="bi bi-clock"></i>
                      <h3 class="contact-page-info">{{ multilingual_content[language]['open_hours'] }}</h3>
                      <p class="contact-page-info-content">{{ multilingual_content[language]['monday_friday'] }}<br>9:45AM - 06:30PM</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}