{% extends "Homepage/layout/layout.html" %}

{% block content %}

<section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <header class="section-header sectionheading">
          <p>VIDEOS - FAQ</p>
        </header>

        <div class="row">

            <div class="col-lg-6">
                  <p> <strong> Old User Functioning (2021, 2022): </strong></p>
            <!-- F.A.Q List 1 -->


                <div class="row">
                      <div class="col-md-4">
                        <button type="button" class="btn bg-new-theme-dark text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Old User Login Functionality
                        </button>
                        <!-- Modal 1 -->
                                   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Old User Login Functionality</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/9879f2c0c1a7498b9f2f7699428d13e4?sid=c59ac1b9-6eb7-4195-89db-e678b29d4ddd" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                        </div>
                      </div>
                      </div>

                      <div class="col-md-4">
                        <button type="button" class="btn bg-new-theme-dark text-white" data-bs-toggle="modal" data-bs-target="#Modal">
                          Old User Uploading Reports
                        </button>
                        <!-- Modal 2 -->
                             <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="ModalLabel">Old User Uploading Reports</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/3e3ab67b063d49269e493c400dcec5a1?sid=7d40641d-c98e-42db-965c-f8828b34d67b" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>


            </div>


            <div class="col-md-6">
                <p> <strong> New User Functioning (2023 and Above): </strong></p>
                <div class="row">
                      <div class="col-md-4">
                        <button type="button" class="btn bg-new-theme-dark text-white" data-bs-toggle="modal" data-bs-target="#newModal">
                          Old User Login Functionality
                        </button>
                        <!-- Modal 1 -->
                          <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel1">New User Login Functionality</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/9879f2c0c1a7498b9f2f7699428d13e4?sid=c59ac1b9-6eb7-4195-89db-e678b29d4ddd" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                        </div>
                      </div>
                      </div>

                      <div class="col-md-4">
                        <button type="button" class="btn bg-new-theme-dark text-white" data-bs-toggle="modal" data-bs-target="#Modal1">
                          Old User Uploading Reports
                        </button>
                        <!-- Modal 2 -->
                             <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="ModalLabel1">New User Uploading Reports</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/3e3ab67b063d49269e493c400dcec5a1?sid=7d40641d-c98e-42db-965c-f8828b34d67b" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>
            </div>


          </div>
        </div>
      </div>
    </section>

{% endblock %}