{% extends "Homepage/layout/layout.html" %}

{% block content %}


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="index">Home</a></li>
                    <li>Login | Signup</li>
                </ol>
                <h2>Login | Signup</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page container-fluid">
            <div class="card col-md-10 m-auto shadow p-5 border-0 overflow-hidden" id="login_wrapper">
                <div class="card-body">
<!--                    <div class="col-md-6 d-flex align-items-center">-->
<!--                        <a href="static/notice.pdf" target="_blank"><span class="fw-bold text-warning" style="font-size:30px">Application for STRF closed as of 31st May.</span></a>-->
<!--                    </div>-->
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center">
<!--                             <div class="text-white fw-bold">सन 2023-24 च्या संशोधक विद्यार्थ्याने अर्ज करण्याकरिता प्रथमतः येथे sign up करावे  <i class="bi bi-arrow-right f-arrow-right"></i></div>-->
                        </div>
                        <div class="col-md-6 login-form-bg">
                            <div class="col-md-12 mt-5 position-relative d-flex align-items-center justify-content-around">
                                <form action="/login" class="login form-index p-2" method="POST" autocomplete="off">
                                    <h2 class="login_logo_name text-center">User Login</h2>
                                    <div class="form-group row">
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Email</label>
                                            <input type="text" name="email" class="form-control login-input"
                                                autocomplete="off" placeholder="Email Address" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Password</label>
                                            <input type="password" class="form-control login-input" name="password"
                                                autocomplete="off" id="passwordInput"  placeholder="Password" required="">
                                        </div>
                                    </div>
                                    <div class=" justify-content-md-between mb-3 text-center">
                                        <div class="pass-link text-end">
                                                <a href="#" title="forget-password" class="text-white" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot password?</a>
                                        </div>

                                    </div>

                                    <p style="color: white;">
                                        {% if error %}
                                        <strong>{{ error }}</strong>
                                        {% endif %}
                                    </p>
                                   <!-- <div class="form-group">
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                          <img src="../static/Images/captcha/user_captcha.png" width="100px" height="50px"  alt=""> </div>
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                           <label class="form-control-label px-3"><span class="text-danger"></span></label>
                                          <input type="text" id="capt" placeholder="Enter Captcha here" name="inserted_login_captcha" onblur="validate(4)">
                                        </div>
                                        <div class="form-group">
                                            <a href="/refresh_login_captcha" id="refreshCaptcha">Refresh Captcha</a>
                                        </div>
                                     </div>
                                     ... -->
                                    <div class="text-center">
                                        <button type="submit" id="togglePasswordVisibility" class="btn btn-login text-white">Login</button>
                                        <button type="button" class="btn bg-new-theme-dark theme-shadow text-white"
                                            id="signup">Sign up</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


            <div class="card shadow p-3 mt-5 border-0 col-md-10 m-auto overflow-hidden" id="signup_wrapper">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="col-md-12 login-form-bg p-5">
                                <form action="/signup" class="signup_form" method="POST" autocomplete="off">
                                    <h2 class="login_logo_name text-center">Sign Up</h2>
                                    <div class="form-group row col-md-10 m-auto">
                                        <div class="col-md-4 mb-3">
                                            <label class="text-white">First Name</label>
                                            <input type="text" class="form-control login-input" name="first_name"
                                                placeholder="First Name" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label class="text-white">Middle Name</label>
                                            <input type="text" class="form-control login-input" name="middle_name"
                                                placeholder="Middle Name" required="">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label class="text-white">Last Name</label>
                                            <input type="text" class="form-control login-input" name="last_name"
                                                placeholder="Last Name" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-10 m-auto">
                                        <div class="col-md-6 mb-3">
                                            <label class="text-white">Email</label>
                                            <input type="text" class="form-control login-input" name="email"
                                                placeholder="Email Address" required="">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="text-white">Registration year</label>
                                            <select name="year" id="year" class="form-control login-input" required>
                                                <option value="">--- Select Registration Year ---</option>
                                                {% if value in ['2021', '2022'] %}
                                                    <option value="2021" disabled>2021 - 2022</option>
                                                    <option value="2022" disabled>2022 - 2023</option>
                                                    {# Display an error message or any other logic here #}
                                                {% else %}
                                                    <option value="2021">2021 - 2022</option>
                                                    <option value="2022">2022 - 2023</option>
                                                {% endif %}
                                                <option value="2023">2023 - 2024</option>
                                                <option value="2024">2024 - 2025</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="text-white">Mobile Number</label>
                                            <input type="text" class="form-control login-input" name="mobile_number"
                                                placeholder="Mobile Number" maxlength="10" required="" minlength="10">
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-10 m-auto">
                                        <div class="col-md-6 mb-3">
                                            <label class="text-white">Password</label>
                                            <input type="password" class="form-control login-input" name="password"
                                                placeholder="Password" required="">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="text-white">Confirm Password</label>
                                            <input type="password" class="form-control login-input"
                                                name="confirm_password" placeholder="Confirm password" required="">
                                        </div>
                                        <p style="color: white;">
                                        {% if error %}
                                        <strong>{{ error }}</strong>
                                        {% endif %}
                                        </p>
                                        <div>
                                            <button type="submit" class="btn bg-new-theme-dark theme-shadow text-white">
                                                Signup </button>
                                            <button type="button" id="login_switch"
                                                class="btn btn-login text-white">Login</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-end justify-content-center flex-column">
                        </div>
                    </div>
                </div>
                <p class="text-white text-center p-2">
                    If you encounter any queries, please contact on the given email with your login Email ID, Your Issue, & the Image related to problem you are facing -
                    <strong>helpdesk@trti-maha.in</strong>
                </p>
            </div>
            <!-- <img src="assets/img/circle-image.svg" alt="warli" class="warli-login"> -->
        </section>
    </main><!-- End #main -->


{% endblock %}



