{% extends 'AdminPages/layout/layout.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-cash-clock menu-icon"></i>
      </span> PAYMENT SHEET
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav>
  </div>
   <div class="card">
    <div class="card-header">
      <div class="row justify-content-end">

        <!-- Table to display student applications -->
      <div class="col-md-12 text-end">
        {% if session['user'] == 'Auditor' %}
              <a href ="#" class="btn btn-theme export-excel" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
        {% else %}
              <a href ="/export_payment_sheet_pdf" class="btn btn-outline-info btn-fw btn-rounded" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Generate PDF<a>
              <a href ="/export_payment_sheet" class="btn btn-outline-info btn-fw btn-rounded" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
        {% endif %}
        </div>
        <div class="text-center mb-4">
            <h4>Payment Sheet for 2023-2024</h4>
        </div><br>
      <div class="table-responsive">
    <table class="table datatable shadow table-bordered">
      <thead>
<!--      <p><strong>NOTE : The H.R.A Rate is calculated according the City Category you are from. IF X Category - 30%, Y Category - 20%, Z Category - 10% </strong></p>-->

        <tr class="text-center">
          <th>Sr. No.</th>
          <th>Applicant ID</th>
          <th>Name of Student</th>
          <th>Date of PHD Registration</th>
          <th>Fellowship Awarded Date</th>
          <th>Duration</th>
          <th>Bank Name</th>
          <th>Account Number</th>
          <th>IFSC</th>
          <th>Fellowship Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for record in user_records %}
            <tr>
              <td class="text-center" style="font-size:15px">{{ loop.index }}</td>
              <td class="text-center">
                <a href="/fellowship_details/{{ record['email'] }}" class="btn btn-outline-primary btn -fw btn-sm btn-rounded tooltip-trigger" data-bs-parent="table"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="View Form">TRTI/{{ record['phd_registration_year'] }}/{{ record['id'] }}</a>
              </td>
              <td class="text-center" style="font-size:15px">
                {% if record['first_name'] and record['last_name'] %}
                    {{ record['first_name'] }} {{ record['middle_name'] }} {{ record['last_name'] }}
                {% else %}
                    N/A
                {% endif %}
              </td>
              <td class="text-center" style="font-size:15px">{{ record['joining_date'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['fellowship_awarded_date'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['duration']|safe }}</td>
              <td class="text-center" style="font-size:15px">{{ record['bank_name'] }} </td>
              <td class="text-center" style="font-size:15px">{{ record['account_number'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['ifsc'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['total'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}