{% extends 'CandidatePages/layout/layout.html' %}
{% block content %}

<!-- Table Product -->
    <div class="row">
      <div class="col-12">
        <div class="card card-default">

          <div class="card-header justify-content-center">
                <!-- Center Content -->
                <div class="text-center">
                    <div class="profile-avata">
                        {% if records %}
                            {% set fullname = records['first_name'] + ' ' + records['middle_name'] + ' ' + records['last_name'] %}
                              {% if records['applicant_photo'] %}
                                  <img class="rounded-circle" src="{{ records['applicant_photo'] }}" alt="Avatar Image" style="height: 120px;width: 120px;">
                              {% else %}
                                  <img class="rounded-circle" src="/static/assets/img/default_user.png'" alt="Avatar Image">
                              {% endif %}
                              <span class="h5 d-block mt-3 mb-2">{{ fullname }}</span>
                              <span class="d-block">{{ records['email'] }}</span>
                        {% endif %}
                    </div>
                </div>
          </div>
          <div class="card-footer card-profile-footer text-center">
                <h5 class="text-dark fw-bold">Upload Utilization Reports for HRA Utilization & Fellowship/Contingency Utilization
</h5>
          </div>
          <div class="card-body">
            <div class="applicant-cards">
                {% if records %}
                  <h6 class="mb-3">Application Submitted Date: <span class="text-muted">{{ records['application_date'] }}</span></h6>
                {% endif %}
                <span class="text-danger mb-2">
                    Please make sure you upload the correct document. Once uploaded it will not be changed under any circumstances.<br>
                    <strong>Moreover, the format of this documents can be found on Homepage under Circulars/Orders.</strong>
                </span>
                <div class="card mb-3">
                    <div class="card-body d-flex flex-column align-items-start">
                        <div class="col-md-12">
                            {% if records %}
                                {% set hra_utility_report = records['hra_utility_report'] %}
                                {% set fellowship_utility_report = records['fellowship_utility_report'] %}

                                <div class="row mt-5">
                                    <div class="col-md-6">
                                        {% if hra_utility_report %}
                                            <h4 class="text-center mb-3">House Rent Allowance Utilization</h4>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>H.R.A Utility Uploaded Date</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>{{ records['hra_utility_uploaded_date'] }}</span> (Format YYYY-MM-DD)
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>H.R.A Utility Uploaded Time</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>{{ records['hra_utility_uploaded_time'] }}</span> (Format HH:MM:SS)
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>H.R.A Utility Report</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>
                                                        <a href="{{ hra_utility_report }}" target="_blank" class="btn btn-primary btn-sm">View Report</a>
                                                    </span>
                                                </div>
                                            </div>
                                        {% else %}
                                            <form action="/hra_utility_report_submit" method="POST" enctype="multipart/form-data">
                                                <h4 class="text-center mb-3">House Rent Allowance Utilization</h4>
                                                <div class="mb-3">
                                                    <input type="file" name="hra_utility_report" id="hra_utility_report" class="form-control">
                                                </div>
                                                <div class="d-grid gap-2">
                                                    <button type="submit" class="btn btn-primary btn-sm">Submit Report</button>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>

                                    <div class="col-md-6">
                                        {% if fellowship_utility_report %}
                                            <h4 class="text-center mb-3">Fellowship/Contingency Utilization</h4>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>Fellowship Utility Uploaded Date</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>{{ records['fellowship_utility_uploaded_date'] }}</span> (Format YYYY-MM-DD)
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>Fellowship Utility Uploaded Time</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>{{ records['fellowship_utility_uploaded_time'] }}</span> (Format HH:MM:SS)
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label>Fellowship Utility Report</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <span>
                                                        <a href="{{ fellowship_utility_report }}" target="_blank" class="btn btn-primary btn-sm">View Report</a>
                                                    </span>
                                                </div>
                                            </div>
                                        {% else %}
                                            <form action="/fellowship_utility_report_submit" method="POST" enctype="multipart/form-data">
                                                <h4 class="text-center mb-3">Fellowship/Contingency Utilization</h4>
                                                <div class="mb-3">
                                                    <input type="file" name="fellowship_utility_report" id="fellowship_utility_report" class="form-control">
                                                </div>
                                                <div class="d-grid gap-2">
                                                    <button type="submit" class="btn btn-primary btn-sm">Submit Report</button>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>





                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- Repeat for more applicants -->
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}