<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/logo/logo-new.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center bg-theme-1">
    <div class="container d-flex justify-content-center justify-content-md-between ">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:trti.mah@nic.in"
            title="email">trti.mah@nic.in</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>020-2633 2380, 020-2636 0941</span></i>
      </div>
      <div class="social-links contact-info d-none d-md-flex align-items-center">
        <a href="#" title="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" title="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" title="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <section class="leaders-sections ">
    <!-- Leaders Sections with logo starts here -->
    <div class="container-fluid bg-varli">
      <div class="logo-text d-flex justify-content-around align-items-center">
        <div>
          <a href="index.html" title="Index">
            <img src="static/assets/img/logo/satyamev-logo.png" class="width-100px" alt="National Emblem">
            <img src="static/assets/img/logo/logo-new.png" class="width-100px" alt="TRTI Logo">
          </a>
        </div>
        <div class="text-center">
          <h5 class="fw-bold">Tribal Research & Training Institute</h5>
          <h5 class="fw-bold">Government of Maharashtra</h5>
        </div>
        <div>
          <img src="static/assets/img/logo/maharashtra-shasan.png" class="width-100px" alt="Maharashtra Shasan">
        </div>
      </div>
      <div class="container-fluid">
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/leaders/ekshi.png" class="lead-image shadow" alt="Eknath Shinde">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Shri. Eknath Shinde</span><br>
                    <span class="text-sm">Hon'ble Chief Minister, Maharashtra State</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/leaders/devpha.png" class="lead-image shadow" alt="Shri. Devendra Fadnavis">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Shri. Devendra Fadnavis</span><br>
                    <span class="text-sm"> Hon'ble Deputy Chief Minister, Maharashtra State</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/ajitpawar.jpg" class="lead-image shadow" alt="Dr. Pradeep Kumar Vyas">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Shri. Ajit Pawar </span><br>
                    <span class="text-sm">Hon'ble Deputy Chief Minister, Maharashtra State</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/leaders/viga.png" class="lead-image shadow" alt=" Dr. Vijaykumar Gavit">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Dr. Vijaykumar Gavit</span><br>
                    <span class="text-sm"> Hon'ble Minister, Tribal Development Department</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/leaders/pradvyas.png" class="lead-image shadow" alt="Dr. Pradeep Kumar Vyas">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Dr. Pradeep Kumar Vyas I.A.S. </span><br>
                    <span class="text-sm">Hon'ble Additional Chief Secretary, Tribal Development Department</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="leader-wrapper ">
                  <div class="mx-2">
                    <img src="static/assets/img/leaders/rajbha.jpg" class="lead-image shadow" alt="Dr. Rajendra Bharud">
                  </div>
                  <div class=" mx-2">
                    <span class="h6 fw-bold"> Dr. Rajendra Bharud I.A.S. </span><br>
                    <span class="text-sm">Hon'ble Commissioner, Tribal Research and Training Institute, Pune</span>
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <!-- Leaders Sections with logo Ends here -->
  </section>
  <header id="header" class="d-flex align-items-center shadow bg-soft"  data-aos="fade-up">

    <div class="container d-flex justify-content-center align-items-center" >


      <nav id="navbar" class="navbar"  >
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
          <li><a class="nav-link scrollto" href="/scheme">Scheme</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="/adminlogin">Admin Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Sitemap</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/about_us.png" class="w-100" alt="Sitemap">
            </div>
            <div class="col-md-8">
                <p class="para text-justify">
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/scheme">Scheme</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/adminlogin">Admin Login</a></li>
    </ul>
    <h1>RELATED LINKS</h1>
    <ul>
        <li><a href="https://www.india.gov.in/">National Portal of India</a></li>
        <li><a href="https://tribal.nic.in/">Tribal Development Department</a></li>
        <li><a href="https://tribal.nic.in/tribalcommissionerate">Tribal Commissionerate</a></li>
        <li><a href="https://aaplesarkar.mahaonline.gov.in/">Aaple Sarkar</a></li>
        <li><a href="https://tribal.nic.in/">Ministry of Tribal Affairs - Govt of India</a></li>
        <li><a href="https://www.mygov.in/">My Gov</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>

    <h1>SECURITY & BRAND</h1>
    <ul>
        <li><a href="/wmp_policy">Website Monitoring Policy</a></li>
        <li><a href="/t_and_c">Terms and Conditions</a></li>
        <li><a href="/privacy_policy">Privacy Policy</a></li>
        <li><a href="/copyright_policy">Copyright Policy</a></li>
        <li><a href="/wmp_policy">Website Monitoring Policy</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
    </ul>

</div>
        </div>

      </div>
    </section><!-- End Services Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="mt-5">
    <div class="upper-footer">
      <div class="container">
        <div class="row g-3">
          <div class="col-lg-4 col-md-6">
            <h4 class="text-white mb-4 text-uppercase fw-bold">RELATED LINKS</h4>
            <ul class="footer-link">
              <li> <a class="btn btn-link text-white" target="_blank" href="https://www.india.gov.in/">National Portal
                  of India</a></li>
              <li><a class="btn btn-link text-white" target="_blank"
                  href="https://tribal.maharashtra.gov.in/1001/मुख्य-पृष्ठ">Tribal development Department</a></li>
              <li><a class="btn btn-link text-white" target="_blank"
                  href="https://tribal.maharashtra.gov.in/1001/मुख्य-पृष्ठ">Tribal development Department</a></li>
              <li><a class="btn btn-link text-white" target="_blank"
                  href="https://tribal.maharashtra.gov.in/1001/मुख्य-पृष्ठ">Tribal Commissionerate</a></li>
              <li><a class="btn btn-link text-white" target="_blank"
                  href="https://aaplesarkar.maharashtra.gov.in/">Aaple Sarkar</a></li>
              <li><a class="btn btn-link text-white" target="_blank" href="https://tribal.nic.in/"
                  title="Ministry of Government">Ministry of Tribal Affairs- Govt of India</a></li>
              <li><a class="btn btn-link text-white" target="_blank" href="https://www.mygov.in/" title="My GOV">My
                  Gov</a></li>
            </ul>


          </div>

          <div class="col-lg-4 col-md-6">
            <h4 class="text-white mb-4 fw-bold">SECURITY &amp; BRAND</h4>
            <ul class="footer-link">
              <li><a class="btn btn-link text-white"
                  href="/hyperlink_policy">Hyperlink Policy</a></li>
              <li><a class="btn btn-link text-white"
                  href="/t_and_c">Terms and Conditions</a></li>
              <li><a class="btn btn-link text-white"
                  href="/privacy_policy">Privacy Policy</a></li>
              <li><a class="btn btn-link text-white"
                  href="/copyright_policy">Copyright Policy</a></li>
              <li><a class="btn btn-link text-white"
                  href="/wmp_policy">Website Monitoring Policy</a></li>
              <li><a class="btn btn-link text-white" href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="footer-link">
              <li class="h5 text-white"><i class="bi bi-calendar"></i> Last Updated : <span
                  class="text-warning">20-06-2023</span></li>
              <li class="h5 text-white"><i class="bi bi-telephone"></i> 020-2633 2380, 020-2636 0941</li>
              <li class="h5 text-white"><i class="bi bi-envelope"></i> trti.mah@nic.in</li>

            </ul>
            <div class="d-flex justify-content-around w-50">
              <a href="#" class="footer-icon twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="footer-icon facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="footer-icon youtube"><i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; 2023 Copyright <strong>TRTI.</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed and Managed by <a href="https://icspune.com/"> Integrated Consultancy Services</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>