<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Website Monitoring Policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
  <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'Homepage/layout/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">{{
            multilingual_content[language]['home'] }}</a></li>
          <li>{{
            multilingual_content[language]['website_monitoring_policy'] }}</li>
        </ol>
        <h2> {{
          multilingual_content[language]['website_monitoring_policy'] }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Contact Section ======= -->
        <section id="hyperlink_policy" class="hyperlink_policy pt-3">

          <div class="container" data-aos="fade-up">
            <div class="container p-0">
              {% if(language == 'english') %}
              <p class="text-justify"><span class="fw-bold">TRTI</span> has a Website Monitoring Policy in place and the
                website is monitored periodically to address and fix the quality and compatibility issues around the
                following parameters:</p>

              <p class="text-justify"><span class="fw-bold">Performance:</span> Site download time is optimized for a
                variety of network connections as well as devices. All important pages of the website are tested for
                this.</p>

              <p class="text-justify"><span class="fw-bold">Functionality:</span> All modules of the website are tested
                for their functionality. The interactive components of the site such as, feedback forms are working
                smoothly.</p>

              <p class="text-justify"><span class="fw-bold">Broken Links: </span>The website is thoroughly reviewed to
                rule out the presence of any broken links or errors.</p>

              <p class="text-justify"><span class="fw-bold">Traffic Analysis: </span>The site traffic is regularly
                monitored to analyse the usage patterns as well as visitors’ profile and preferences.</p>

              <p class="text-justify"><span class="fw-bold">Feedback:</span> Feedback from the visitors is the best way
                to judge a website’s performance and make necessary improvements. A proper mechanism for feedback is in
                place to carry out the changes and enhancements as suggested by the visitors.</p>

              {% else %}

              <p class="text-justify"><span class="fw-bold">टीआरटीआय : </span> मध्ये वेबसाइट मॉनिटरिंग पॉलिसी आहे आणि
                वेबसाइट खालील बाबींनुसार गुणवत्ता आणि सुसंगतता समस्यांचे निराकरण करण्यासाठी वेळोवेळी देखरेख ठेवली जाते.
              </p>

              <p class="text-justify"><span class="fw-bold">कामगिरी:</span> साइट डाउनलोड वेळ विविध नेटवर्क कनेक्शन तसेच
                डिव्हाइसेससाठी ऑप्टिमाइझ केले आहे. वेबसाइटच्या सर्व महत्त्वाच्या पृष्ठांचे परीक्षण केले जाते.</p>

              <p class="text-justify"><span class="fw-bold">कार्यक्षमता:</span> वेबसाइटच्या सर्व मॉड्यूल त्यांच्या
                कार्यक्षमतेसाठी चाचणी केली जातात. साइटचे परस्परसंवादी घटक जसे फीडबॅक फॉर्म सहजतेने कार्यरत आहेत.</p>

              <p class="text-justify"><span class="fw-bold">तुटलेले दुवे: </span>कोणत्याही तुटलेली दुवे किंवा
                त्रुटींच्या अस्तित्वाची निंदा करण्यासाठी वेबसाइटची संपूर्णपणे उजळणी केली जाते.</p>

              <p class="text-justify"><span class="fw-bold">रहदारी विश्लेषण: </span>वापर नमुना तसेच अभ्यागतांचे प्रोफाइल
                आणि प्राधान्ये विश्लेषित करण्यासाठी साइट रहदारीचे नियमितपणे परीक्षण केले जाते.</p>

              <p class="text-justify"><span class="fw-bold">अभिप्राय:</span> अभ्यागतांकडून अभिप्राय वेबसाइटच्या
                कार्यप्रदर्शनाचे न्याय करण्याचा आणि आवश्यक सुधारणा करण्यासाठी सर्वोत्तम मार्ग आहे. अभ्यागतांद्वारे सूचित
                केल्यानुसार बदल आणि सुधारणा करण्यासाठी अभिप्रायसाठी योग्य यंत्रणा आहे.</p>
              {% endif %}

            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'Homepage/layout/footer.html' %}

</body>

</html>